* {
  box-sizing: border-box;
}
.body {
  margin: 0;
}
html {
  font-size: 16px;
}



.hero {
  display: flex;
  position: relative;
  padding: 20px 50px;
  height: 600px;
  background-image: url("assets/header_visual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 10px 30px;
  top: 0;
  left: 0;
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 0;
}
@media(max-width:800px){
  .nav__list{
    display:none;
  }
  
}
.nav__link {
  text-decoration: none;
  padding: 20px 30px;
  color: white;
  text-transform: uppercase;
  font-size: 0.6125rem;
}
.hero__content {
  text-align: center;
  color: white;
}
.hero__content__h1 {
  padding: 20px;
  font-weight: normal;
}
.button {
  border: 0;
  color: white;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 0.5rem;
}
.hero__button__primary {
  background-color: #f0795e;
}
.hero__button__secondary {
  background-color: transparent;
  border: 1px solid #fff;
  width: 128px;
}
.hero__content .button + .button {
  margin-left: 20px;
}
@media(max-width:800px){
  .hero__content .button + .button {
    margin-left: 0;
    margin-top:20px;
  }
}



.wrapper {
  margin: 0 auto;
  max-width: 800px;
}
.introduction .wrapper {
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.introduction__text {
  padding-right: 100px;
  padding-top: 50px;
}
@media(max-width:800px)
{
  .introduction .wrapper{
    height:600px;
    display:flex;
    flex-direction: column;
  }
  .introduction__text{
    width:100%;
    padding:0 20px;
  }
  .introduction__pic{
    position:absolute;
    top:0;
  }
}
.introduction__title {
  font-size: 2rem;
}
.introduction__paragraph {
  font-size: 0.8125rem;
  color: grey;
}
.introduction__pic {
  max-height: 400px;
  position: relative;
  right: 0;
  bottom: -85px;
}




.features {
  background-color: #f9f6ef;
  padding-top: 60px;
}
.features__title {
  font-size: 2rem;
  margin-bottom: 50px;
}
.features__main {
  display: flex;
}
.features__content + .features__content {
  margin-left: 50px;
}
.content__logo {
  margin-bottom: 20px;
}
.content__title {
  font-size: 1rem;
  margin-bottom: 30px;
}
.content__paragraph {
  color: grey;
  font-size: 0.8125rem;
}
@media(max-width:800px)  
{
  .features__title{
    text-align:center;
    font-size:1.5rem;
    padding-top:40px;
  }
  .features__main{
    flex-direction: column;
    padding:0 20px;
  }
  .features__content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  .features__content + .features__content {
    margin-left: 0;
  }
  .content__title{
    margin-bottom:10px;
  }
  .content__paragraph{
    text-align: center;
  }
}




.testimonials {
  height: 500px;
  background-image: url("assets/reviews_visual.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 150px;
}
.testimonials__content {
  width: 400px;
  margin: 0 auto;
  border: 3px solid #fff;
  position: relative;
}
@media (max-width: 800px){
  .testimonials__content{
    width:300px;
  }
}
.testimonials__title {
  font-size: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 50px;
}
.testimonials__name {
  padding-top: 20px;
  font-size: 1rem;
}
.testimonials__paragraph {
  color: grey;
  padding: 0 30px;
}
.testimonials__icon {
  height: 15px;
}
.testimonials__icon + .testimonials__icon {
  padding-left: 10px;
}
.testimonials__picture {
  position: absolute;
  transform: translateX(-50%);
  top: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 30px;
}




.pricing {
  padding-top: 100px;
  background-color: #f9f6ef;
  height:600px;
}
@media (max-width:800px){
  .pricing{
    padding-top:0; 
    height:1100px; 
  }
}
.pricing .wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 800px){
  .pricing .wrapper{
    padding:20px;
    flex-direction: column;
  }
}

.pricing__heading {
  font-size: 2rem;
  width: 50%;
}
@media (max-width: 800px){
  .pricing__heading{
    width:100%;
    margin-bottom: 0;
  }
}
.pricing__paragraph {
  color: grey;
  font-size: 0.75rem;
  width: 50%;
  margin: 26px 0;
}
@media (max-width: 800px){
  .pricing__paragraph{
    font-size:1rem;
    width:100%;
  }
}
.plan__primary {
  color: grey;
  background-color: white;
  padding: 20px;
  width: 48%;
  margin-bottom: 20px;
}
 @media (max-width:800px){
   .plan__primary{
     width:100%;
   }
 }
 .plan__primary:hover, .plan__primary:focus{
   color:white;
   background-color:#f0795e;
   transform:translateY(-20px);   /*koristi se uz hover*/
 }
 @media( max-width:800px){
  .plan__primary:hover, .plan__primary:focus{
    position:static;
  }
 }
.plan__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 217, 217);
}
.plan__heading {
  font-weight: normal;
}
.plan__price {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(77, 75, 75);
}
.pricing__button {
  background-color: #fff;
  color: #f0795e;
  margin-top: 20px;
  width:100%;
  font-size: 0.6875rem;
  border: 2px solid #f0795e;
}
@media (max-width: 800px){
  .pricing__button{
    padding:10px 0;
    width:100%;
  }
}
.plan__secondary {
  color: grey;
  background-color: white;
  padding: 20px;
  width: 48%;
  margin-bottom: 20px;
  margin-left:20px;
}
.plan__secondary:hover, .plan__secondary:focus{
  color:white;
  background-color:#f0795e;
  transform:translateY(-20px);
}
@media (max-width: 800px){
  .plan__secondary{
    width:100%;
    margin:0px;
    position:relative;
    top:0;         
  }
  .plan__secondary:hover, .plan__secondary:focus{
    position:static;
  }
}
.plan__primary p,
.plan__secondary p {
  display: inline-block;
}




.download {
  height: 400px;
  background-color: #f0795e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download__box {
  width: 300px;
}
.download__title {
  text-align: center;
  font-size: 2rem;
}
.download__paragraph {
  text-align: center;
  color: #cccccc;
  margin-bottom: 30px;
}
.download__links {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px){
  .download__links{
    flex-direction: column;
    align-items:center;
  }
}
.download__appstore {
  width: 100px;
  height: 35px;
}
.download__google {
  padding-left: 20px;
  width: 120px;
  height: 35px;
}
@media (max-width: 800px){
  .download__google{
    padding-left:0;
    padding-top:10px;
    width:100px;
    height:45px;
  }
}




.footer {
  color: grey;
  font-size: 0.5625rem;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px){
  .footer .wrapper{
    padding:20px;
    flex-direction: column;
  }
  .footer__information{
    flex-direction: column;
  }
  .footer__title{
    padding-bottom: 5px;
  }
  .footer__copiright{
    margin-top:20px;
  }
}
.footer__information {
  display: flex;
}
.footer__title {
  font-weight: bold;
}
.footer__link {
  color: #f0795e;
  text-decoration: none;
}
.footer__app + .footer__app {
  margin-left: 40px;
}
@media (max-width: 800px){
  .footer__app + .footer__app{
    margin-left:0;
    margin-top:20px;
  }
}
.footer__icon + .footer__icon{
  padding-left:15px;
}
